apiVersion: apps/v1
kind: Deployment
metadata:
  name: survey-frontend
  namespace: sssn
  labels: { app: survey-frontend, team: SSSN }
spec:
  replicas: 2
  selector: { matchLabels: { app: survey-frontend } }
  template:
    metadata: { labels: { app: survey-frontend } }
    spec:
      containers:
        - name: web
          image: spotluru/sssn-survey-frontend:1
          ports: [ { containerPort: 80 } ]
          volumeMounts:
            - name: nginx-conf
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
      volumes:
        - name: nginx-conf
          configMap:
            name: survey-frontend-nginx
---
apiVersion: v1
kind: Service
metadata:
  name: survey-frontend
  namespace: sssn
  labels: { app: survey-frontend }
spec:
  selector: { app: survey-frontend }
  type: NodePort
  ports:
    - { name: http, port: 80, targetPort: 80, nodePort: 30080 }
